/* css in specificity order - could use consolidating :^| */

* {
  box-sizing: border-box;
}
body {
	margin: 50px 60px; 
	max-width: 750px;
	font-size: 15px;
}
h1 {
	font-weight: 100;
	margin: 0 0 0 0;
	font-size: 35px;
	line-height: 30px;
}
h2 {
	font-weight: 100;
	font-size: 15px;
	line-height: 15px;
	margin: 0 0 30px 0;
}
h3 {
	font-weight: 100;
	font-size: 17.5px;
	line-height: 40px;
	margin: 20px 0px 20px 20px;
}
p {
	font-weight: 100;
	font-size: 15px;
	margin: 10px 0 30px 0;
}
.homeLink {
	color: blue;
	font-size: 10px;
}
.assignmentTitle {
	font-weight: 100;
	margin: 0 0 0 0;
	font-size: 15px;
	line-height: 15px;
}
.assignmentLink {
	font-size: 12.5px;
	line-height: 12.5px;
	margin-right: 5px;
}
.assignmentLink:visited {
	color: blue;
}
.thumbnail {
	width: 100%;
}
.row {
	content: "";
	display: table;
	clear: both;
	width: 100%;
	margin-bottom: 5px;
	white-space: nowrap;
	margin: 0px 0px 5px 20px;
}
.column {
	float: left;
	height: 50px;
}
.columnOne {
	width: 50px;
}
.columnTwo {
	width: 500px;
	max-width: 80%;
	padding: 10px;
}
.link {
	color: blue;
	font-size: 15px;
	cursor: pointer;
}
.modalLinkedThumbnail {
	cursor: pointer;
}
.modalClass {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
.modalImageClass {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
.container {
    margin: -5px 35px;
    width: 485px;
    height: 360px;
    line-height: 360px;
    text-align: center;
    /*border: solid 1px red;*/
}
.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
#headDiv {
	cursor: pointer;
}
#modalCloser {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 20px;
	background-color: white;
	margin: 10px;
	padding: 3px;
	text-align: center;
	border-radius: 5px;
	font-size: 17.5px;
	border: outset 2px white;
}
#modalRight {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 20px;
	background-color: white;
	margin: 10px;
	padding: 3px;
	text-align: center;
	border-radius: 5px;
	font-size: 12.5px;
	border: outset 2px white;
}
#modalLeft {
	position: absolute;
	bottom: 0;
	left: 0;
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 20px;
	background-color: white;
	margin: 10px;
	padding: 3px;
	text-align: center;
	border-radius: 5px;
	font-size: 12.5px;
	border: outset 2px white;
}
#modalCloser:active {
	border: inset 2px white;
	padding: 5px;
}
#modalRight:active {
	border: inset 2px white;
	padding: 5px;
}
#modalLeft:active {
	border: inset 2px white;
	padding: 5px;
}
#modalCloser::selection {
  background: rgba(255,255,255,0); /* WebKit/Blink Browsers */
}
#modalRight::selection {
  background: rgba(255,255,255,0); /* WebKit/Blink Browsers */
}
#modalLeft::selection {
  background: rgba(255,255,255,0); /* WebKit/Blink Browsers */
}
#mainModal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 400px;
	margin-left: -300px;
	margin-top: -200px;
	z-index: 1;
	padding: 20px;
	background-color: lightgrey;
	border: outset 3px rgb(230,230,230);
	box-shadow: 3px 5px 8px rgba(0,0,0,.3),
				3px 5px 2px rgba(0,0,0,0);
}
#modalImage {
	position: none;
	vertical-align: middle;
	border: inset 3px rgb(225,225,225);
	cursor: default;
}
.addAssignmentFooter {
	margin: 40px 20px 100px; 
}
a:visited {
	color: blue;
}
.infoButton {
	color: blue;
	text-decoration: none;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
}